{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if authors %}
        <table>
            <tr>
                {% for name in columns %}
                    <td class="table_head">{{ name }}</td>
                {% endfor %}
            </tr>

            {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.age }}</td>
                <td>{{ author.email }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div> <p> К сожалению, авторов пока нет </p> </div>
    {% endif %}
{% endblock %}