{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="page-head">
        <a href="/authors/add" target="_blank">Добавить автора рецепта</a>
        <a href="/authors/count_recipe" target="_blank">Авторы, с количеством рецептов не менее выбранного</a>
        <h3>{{ context }}</h3>
    </div>
    {% if authors %}
        <table>
            <tr>
                {% for name in columns %}
                    <td class="table_head">{{ name }}</td>
                {% endfor %}
            </tr>
            {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.age }}</td>
                <td>{{ author.email }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div> <p> К сожалению, авторов пока нет </p> </div>
    {% endif %}
{% endblock %}