{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="page-head">
        <p><a href="/items_work/items/add" target="_blank">Добавить ингридиент</a></p>
        <h3>{{ context }}</h3>
    </div>
    {% if items %}
        <table>
            <tr>
                {% for name in columns %}
                    <td class="table_head">{{ name }}</td>
                {% endfor %}
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.unit_measurement }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div> <p> К сожалению, список элементов пуст </p> </div>
    {% endif %}
{% endblock %}